@import "tailwindcss";

@layer component {
  .auth-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgb(250, 251, 252);
    background-image: url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-left.4f52d13c.svg),
      url(https://id-frontend.prod-east.frontend.public.atl-paas.net/assets/trello-right.e6e102c7.svg);
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-size: 368px, 368px;
    background-position: left bottom, right bottom;
  }
}
